<div class="conteiner-capsula">
  <div class="capsulas-conteiner">
<img src="https://cdn.shopify.com/s/files/1/0923/8521/4763/files/Group_10693.svg?v=1739293925"> 
    <div class="text-capsula">
    <div>60 Capsulas</div>
    <div>(30 porciones)</div>
    </div>
  </div>
   <div class="capsulas-conteiner">
<img src="https://cdn.shopify.com/s/files/1/0923/8521/4763/files/Group_10693.svg?v=1739293925"> 
    <div class="text-capsula">
    <div>60 Capsulas</div>
    <div>(30 porciones)</div>
    </div>
  </div>
  
</div>


{% style %}


/*---------------- Global Custom CSS -------------------*/
  .conteiner-capsula {
    display: flex;
    justify-content: space-between;
}
.capsulas-conteiner {
    width: 49%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background: #fffbf3;
    padding: 1rem 0rem;
    border-radius: 1rem;
}
  .text-capsula {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .capsulas-conteiner img {
    width: 28px;
    height: auto;
}

/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {
{{settings.desktop_css }}
}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {
{{settings.tablet_mobile_css }}
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
{{settings.tablet_css }}
}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 768px){
{{settings.mobile_css }}
}
{% endstyle %}