<div class="conteiner-capsula">
  <div>
<img src="https://cdn.shopify.com/s/files/1/0923/8521/4763/files/Group_10693.svg?v=1739293925">
    
    <div>Capsulas</div>
  </div>
   <div>
<img src="https://cdn.shopify.com/s/files/1/0923/8521/4763/files/Group_10693.svg?v=1739293925">
    
    <div>Capsulas</div>
  </div>
  
</div>