 <div class="d-flex flex-lg-column flex-row justify-content-between h-100">
                      <div class="square">

                        {% assign certificaciones = product.metafields.custom.certificaciones %}

{% if certificaciones %}
  <div class="certificaciones">
    {% for certificacion in certificaciones %}
      {% case certificacion %}
        {% when "usda organic" %}
          <img src="{{ 'usda-organic.png' | asset_url }}" alt="USDA Organic">
        {% when "gluten free" %}
          <img src="{{ 'gluten-free.png' | asset_url }}" alt="Gluten Free">
        {% when "non gmo" %}
          <img src="{{ 'non-gmo.png' | asset_url }}" alt="Non GMO">
      {% endcase %}
    {% endfor %}
  </div>
{% endif %}


                        
                      </div>
                      <div class="square">Cuadrado 2</div>
                      <div class="square">Cuadrado3</div>
                    </div>
                    <style>
                      .d-flex {
                        height: 100%; /* Asegura que el contenedor flex tome toda la altura disponible */
                        gap: 10px; /* Espacio entre los cuadrados */
                      }

                      .square {
                        flex: 1; /* Hace que cada cuadrado tome una parte igual del espacio disponible */
                        min-height: 0; /* Permite que los elementos se reduzcan si es necesario */
                        background-color: #f6f5f0;
                        margin: 0; /* Removemos el margen ya que usamos gap */
                        border-radius: 0.5rem;
                      }

                      @media (min-width: 992px) {
                        .square {
                          width: 100%;
                          height: calc(33.333% - 7px); /* Calcula el 33.333% de altura menos el espacio del gap */
                        }
                        
                        .d-flex {
                          min-height: 400px; /* Altura mínima para el contenedor en desktop */
                        }
                      }

                      @media (max-width: 991px) {
                        .square {
                          width: calc(33.333% - 7px); /* En móvil, los cuadrados se distribuyen horizontalmente */
                          aspect-ratio: 1; /* Mantiene la forma cuadrada */
                        }
                        
                        .d-flex {
                          min-height: 100px; /* Altura mínima para el contenedor en móvil */
                        }
                      }
                    </style>