<div class="p-3" style="background-color: {{ section.settings.background_color }}; height: 100px;">
  <div class="row">
    <div class="text-left col">
      <h2 style="font-size: 18px;">{{ section.settings.texto }}</h2>
    </div>
    <div class="col">
      <img src="" class="rounded float-right" alt="Imagen 1"/>
      <img src="" class="rounded float-right" alt="Imagen 2"/>
    </div>
  </div>
</div>


{% style %}

/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {
}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){
}

{% endstyle %}

{% javascript %}
  
{% endjavascript %}

{% schema %}
  {
  "name": "Sección Texto e Imágenes",
  "settings": [
    {
      "type": "text",
      "id": "texto",
      "label": "Texto Principal",
      "default": "Productos elaborados en instalaciones con las siguientes certificaciones y registros:"
    },
    {
      "type": "image_picker",
      "id": "imagen_1",
      "label": "Primera Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_2",
      "label": "Segunda Imagen"
    },
    {
      "type": "color",
       "id": "background_color",
      "label": "Color de fondo",
      "default": "#f0e6ff"
    }
  ],
  "presets": [
    {
      "name": "Hola shopify",
      "category": "Imagenes"
    }
  ]
}

{% endschema %}