<div class="container my-5" style="background-color: {{ section.settings.background_color }};">
  <div class="colum">
    <div class="text-xxl-end mb-4">
      <h2>{{ section.settings.texto }}</h2>
    </div>
    <div class="text-center">
      <img src="" class="img-fluid" alt="Imagen 1"/>
    </div>
    <div class="text-center">
      <img src="" class="img-fluid" alt="Imagen 2"/>
    </div>
  </div>
</div>


{% style %}

/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {
}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){
}


{% endstyle %}

{% javascript %}
  
{% endjavascript %}

{% schema %}
  {
  "name": "Sección Texto e Imágenes",
  "settings": [
    {
      "type": "text",
      "id": "texto",
      "label": "Texto Principal",
      "default": "Bienvenido a nuestra tienda"
    },
    {
      "type": "image_picker",
      "id": "imagen_1",
      "label": "Primera Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_2",
      "label": "Segunda Imagen"
    },
    {
      "type": "color",
       "id": "background_color",
      "label": "Color de fondo",
      "default": "#f0e6ff"
    }
  ],
  "presets": [
    {
      "name": "Hola shopify",
      "category": "Imagenes"
    }
  ]
}

{% endschema %}