<div class="p-3" style="background-color: {{ section.settings.background_color }}; height: 55px;">
  <div class="d-flex justify-content-between align-items-center mx-5">
    <div class="text-left ml-1">
      <h1 style="font-size: 18px;">{{ section.settings.texto }}</h1>
    </div>
    <div class="mx-5">
      <img src="https://google.com/favicon.ico" alt="Imagen 1"/>
      <img src="https://google.com/favicon.ico" alt="Imagen 2"/>
      <img src="https://google.com/favicon.ico" alt="Imagen 3"/>
    </div>
  </div>
</div>


{% style %}

/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {
}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){
  img {
    width: 40px;
    margin: 5px;
  }

  h1 {
    font-size: 10px;
  }
}

  
{% endstyle %}

{% javascript %}
  
{% endjavascript %}

{% schema %}
  {
  "name": "Sección Texto e Imágenes",
  "settings": [
    {
      "type": "text",
      "id": "texto",
      "label": "Texto Principal",
      "default": "Productos elaborados en instalaciones con las siguientes certificaciones y registros:"
    },
    {
      "type": "image_picker",
      "id": "imagen_1",
      "label": "Primera Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_2",
      "label": "Segunda Imagen"
    },
    {
      "type": "color",
       "id": "background_color",
      "label": "Color de fondo",
      "default": "#f0e6ff"
    }
  ],
  "presets": [
    {
      "name": "Hola shopify",
      "category": "Imagenes"
    }
  ]
}

{% endschema %}