<div
  class="t4s-section-inner contenedor vitatu-section shadow mb-1 d-flex align-items-center justify-content-between"
  style="background-color: {{ section.settings.background_color }};"
>
  <div class="t4s-container">
    <h1 class="texto-final">
      {{ section.settings.texto }}
    </h1>
  </div>
  <div class="d-flex imagenes">
    <img src="https://google.com/favicon.ico" width="30" height="30" alt="Imagen 1">
    <img src="https://google.com/favicon.ico" width="30" height="30" alt="Imagen 2">
    <img src="https://google.com/favicon.ico" width="30" height="30" alt="Imagen 3">
  </div>
</div>

{% style %}
  /*---------------- Custom CSS for only desktop -------------------*/
  @media (min-width: 1025px) {
    .contenedor {
      height: 84px;
    }

    .texto-final {
      font-size: 16px;
      margin-left: 10rem;
    }

    .imagenes {
      margin-right: 70rem;
    }
  }

  /*---------------- Custom CSS for tablet, mobile -------------------*/
  @media (max-width: 1024px) {
  }

  /*---------------- Custom CSS for only tablet -------------------*/
  @media (min-width: 768px) and (max-width: 1024px) {
  }

  /*---------------- Custom CSS for only mobile -------------------*/
  @media (max-width: 767px) {
    .imagenes {
      margin: 0;
      padding: 0;
    }

    .texto-final {
      font-size: 12px;
    }

    .contenedor {
      height: 100px;
    }
  }
{% endstyle %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Sección Texto e Imágenes",
  "settings": [
    {
      "type": "text",
      "id": "texto",
      "label": "Texto Principal",
      "default": "Productos elaborados en instalaciones con las siguientes certificaciones y registros:"
    },
    {
      "type": "image_picker",
      "id": "imagen_1",
      "label": "Primera Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_2",
      "label": "Segunda Imagen"
    },
    {
      "type": "image_picker",
      "id": "imagen_3",
      "label": "Tercera Imagen"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Color de fondo",
      "default": "#f0e6ff"
    }
  ],
  "presets": [
    {
      "name": "Hola shopify"
    }
  ]
}
{% endschema %}
